<?xml version="1.0"?>

<model>
  <name>Base Model</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Daniel Lin</name>
    <email>daniel.lin1@unsw.edu.au</email>
  </author>

  <description>
    A model of a tic-tac-toe base with a textured material.
    Width: 60cm
    Height: 5 cm

    Total Grid width: 36 cm
  </description>

</model>