<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

  <!-- Include ur5e description (HINT: look at ur5e.xacro within the ur_description package)-->
  <!-- TODO: INSERT CODE HERE -->

  <xacro:include filename="$(find ur_description)/urdf/ur5e.xacro" />


  <!-- <xacro:ur5e_robot prefix="" /> -->
  
  <!-- <link name="world" />

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.8 0.0 0.675" rpy="0.0 0.0 0.0" />
  </joint>  -->
  <!-- Link robot with world joint -->
  <!-- TODO: INSERT CODE HERE -->


</robot>
