<?xml version="1.0"?>

<model>
  <name>O Textured</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Daniel Lin</name>
    <email>daniel.lin1@unsw.edu.au</email>
  </author>

  <description>
    A model of a tic-tac-toe o with a textured material.
    Diameter: 6 cm
    Height: 1 cm
  </description>

</model>