<?xml version="1.0"?>
<launch>
     <!-- Gazebo parameters -->
    <arg name="limited" default="true" doc="Limit some joints to [-pi, pi]"/>
    <arg name="paused" default="false" doc="Starts Gazebo in paused mode" />

    <include file="$(find project)/launch/ur5e_epick_bringup.launch">
        <arg name="limited" value="$(arg limited)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- load camera descripton -->
    <param name="camera_description" command="$(find xacro)/xacro '$(find project)/urdf/camera_description.urdf.xacro'" />

    <param name="model_path" value="$(find project)/models" />
    <!-- push camera description to factory and spawn robot in gazebo -->
    <node name="spawn_camera_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param camera_description -model camera" respawn="false" output="screen" />

    <include file="$(find ur5e_epick_moveit_config)/launch/ur5e_epick_moveit_planning_execution.launch"/>
    
    <node name="game_controller" pkg="project" type="gameController" output="screen" />
    <node name="processor" pkg="project" type="imageProcessor" output="screen" />
    <!-- <node name="gazebo_controller" pkg="project" type="gazeboController" output="screen" /> -->
</launch>